.git
.gitignore
.github
.dvc
dvc.lock
data
mlruns
mlartifacts
mlflow.db
reports
tests
scripts
notebooks/
docs/
*.md
!README.md
.pytest_cache
.coverage
htmlcov
__pycache__
*.pyc
*.egg-info
.venv
.claude
.vscode
.idea
.DS_Store
Thumbs.db
